*,*:before,*:after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
html,body {
    height: 100%;
}
body {
    font-family: sans-serif;
}
.wrapper {
    width: 100%;
    min-height: 100%;
    overflow: hidden;
}

.page {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.parallax {
    position: relative;
    height: 100%;
}
.parallax__mountain {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.parallax__mountain--1 {
    background: url(/img/m_1.png) 0 0 / cover no-repeat;
    
}
.parallax__mountain--2 {
    background: url(/img/m_2.png) bottom right / 45% no-repeat;
    z-index: 1;
}
.parallax__mountain--3 {
    background: url(/img/m_3.png) bottom left / 100% no-repeat;
    z-index: 1;
}
.parallax__fog {
    background: url(/img/fog_1.png) bottom / 100% no-repeat;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 2;
}
.content {
    position: relative;

}
.content__body {
    max-width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
}
.content__header {
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 20px;
    padding: 0 20px;
}
.content__title {
    font-size: 80px;
}
.content__subtitle {
    font-size: 40px;
}
.content__article {
    background-color: rgba(255,255,255,0.5);
    padding: 20px;
}
.content__article p {
    margin-bottom: 20px;
}